.home-button {
    position: absolute;
    top: 20px; /* Adjust as needed for your design */
    left: 20px; /* Adjust as needed for your design */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    text-decoration: none;
    background-color: #f0f0f0;
    color: #333;
    border: none;
    border-radius: 4px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
  }
  
  .home-button i {
    margin-right: 5px;
  }
  
  .home-button:hover {
    background-color: #e0e0e0;
  }
  